

@font-face{src:url(../fonts/ProximaNova-Regular.otf);font-family:ProximaNova-Regular;}


body h4 { font-family:"ProximaNova-Regular";}
body    { font-family:"ProximaNova-Regular";}

body
{
   background: #FAFAFA 0% 0% no-repeat padding-box;
   color: #191919;
}

.heading h4 {
    font-weight: 500;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}
.booking
{
   margin-top: 18px; 
}

.booking h4
{
    font-size: 21px;
}
.booking p
{
  margin-bottom: 0px;  
}
.booking p a
{
    font-size: 18px;
    color: #FE9224;
    margin-bottom: 0px;
}


.box
{
width: 270px;
height: 118px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 25px #C3C3C310;
border-radius: 6px;
opacity: 1;
margin: 18px;
padding: 18px;
}

.revenue_box
{
width: 260px;
height: 150px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 45px #D1D1D129;
border-radius: 6px;
opacity: 1;
margin: 20px 5px;
padding: 18px;
}

.revenue_up span
{
  color: #19D0A9;
  font-size: 18px  
}

.revenue_down span
{
  color: #FE2424;
  font-size: 18px  
}

.revenue_up p
{
    margin-bottom: 0px;
}
.revenue_down p
{
    margin-bottom: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.box img
{
 margin-top: 15px;
}

.booking_box
{
  width: 300px;
  height: 261px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 25px #C3C3C310;
  border-radius: 6px;
  opacity: 1;
  margin: 20px 10px;
  padding: 20px;
}

.booking_box p
{
  font-size: 14px;
  margin-bottom: 16px;
}
.booking_box hr
{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.booking_box h5
{
    font-size: 16px;
    margin: 16px 0px;
}

.top_box .col-md-5
{
  padding-right: 0px;
  padding-left: 0px;
}


.initials span
{
background: #455FDB 0% 0% no-repeat padding-box;
opacity: 1;
text-align: center;
font: normal normal bold 13px/16px Proxima Nova;
letter-spacing: 0px;
color: #FFFFFF; 
padding:5px 9px 6px 8px;
 font-size: 13px;
border-radius: 25px;
}

#name p
{
  font-size: 16px;
  margin-bottom: 0px;
}

.booking_date
{
width: 260px;
height: 41px;
background: var(--unnamed-color-ffdaba) 0% 0% no-repeat padding-box;
background: #FFDABA 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 19px #72727216;
opacity: 1;
font-size: 14px;
border: none;
margin:18px 0px 20px 0px;
padding: 12px 0px;
text-align: center;
}

.btn-blue
{ 
width: 260px;
height: 34px;
background: #141E4D 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
color: white;
font-size: 15px;
border: none;  
cursor: pointer; 
}



.book_appoinmnt
{
  padding: 15px 11px;
}

.book_appoinmnt h4
{
  color: #FE9224;
  font-size: 22px;
}


.dsh_bord .dropdown-toggle::after
{
    display: none !important;
}

.dsh_bord .dropdown-menu 
{    
width: 355px;
height: 1609px;
top: 70px !important;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 25px #C3C3C310;
border-radius: 6px;
opacity: 1;
  
}

.btn-drpdwn
{
width: 105px;
height: 34px;
background: #FE9224 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
border: none;
color: white;
}















/*MEDIA QUERIES MOBILE CSS */

@media (max-width: 800px) {
  

}

@media screen and (max-width: 480px)
{
  .flex-container {
    flex-direction: column;
  }
  .revenue_box .flex-container {
    flex-direction: row;
  }
  .box
  {
    height: auto;
    text-align: center;
  }
  .booking_box
  {
    height: auto;
    text-align: center;
  }
 
}














/*side bar css*/ 

a,
a:focus,
a:hover {
    color: inherit;
    text-decoration: none
}

#inintial span {
    background: #455fdb;
    padding: 8px 10px 7px 10px;
    font-size: 12px;
    color: #000;
    border-radius: 25px
}

#sidebar .user_name p {
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 12px
}





.wrapper {
    display: flex;
    width: 100%
}

#sidebar {
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #000;
    transition: all .3s;
    box-shadow: 0px 3px 15px #DDDDDDA8;
    border-radius: 0px 24px 24px 0px;
    opacity: 1;
}

#sidebar.active {
    margin-left: -250px
}

#sidebar .sidebar-header {
    padding: 20px 20px 5px 20px;
    background: #fff;
    border-radius: 0px 24px 24px 0px;
}

#sidebar .sidebar-header p
{
   color: #455fdb;
   margin-bottom: 0px;
   padding: 0px 20px;
   font-size: 20px;
}
#sidebar .sidebar-header p span
{
    font-size: 18px;
}
#sidebar ul.components {
    padding: 20px 0px 0px 0px
}

#sidebar ul p {
    color: #fff;
    padding: 10px
}

#sidebar ul li a {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
    display: block
}

#sidebar ul li a:hover {
    color: #455fdb;
    background: 0 0
}

#sidebar ul li.active>a,
a[aria-expanded=true] {
    color: #fff;
    background: #455FDB 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 45px #A0A0A029;
    border-radius: 0px 24px 0px 0px;
}

.wrapper a[data-toggle=collapse] {
    position: relative
}

.wrapper ul ul a {
    font-size: .9em!important;
    padding-left: 30px!important;
    background: 0 0
}

#content {
    width: calc(100% - 235px);
    min-height: 100vh;
    transition: all .3s;
    position: absolute;
    top: 0;
    right: 0
}

#content .bg-light {
    background: #FAFAFA 0% 0% no-repeat padding-box;
}


#content .btn {
    border: 1px solid transparent;
    padding: 2px 8px;
    font-size: 15px;
    line-height: 1.5;
   }
#content.active {
    width: 100%
}
#content .btn-info {
    color: #fff;
    background-color: #455fdb;
    border-color: #17a2b8;
}

.wrapper .page_content {
    padding: 15px 15px 40px 15px;
    background: #FAFDFF 0% 0% no-repeat padding-box;
}

@media (max-width:768px) {
    #sidebar {
        margin-left: -250px
    }
    #sidebar.active {
        margin-left: 0
    }
    #content {
        width: 100%
    }
    #content.active {
        width: calc(100% - 250px)
    }
    #sidebarCollapse span {
        display: none
    }
}




.top_bar .badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.top_bar .label-warning[href],
.top_bar .badge-warning[href] {
  background-color: #c67605;
}
.top_bar #lblCartCount {
   font-size: 11px;
    background: #455fdb;
    color: #fff;
    padding: 2px 4px;
    vertical-align: top;
    margin-left: -10px;
}

.top_bar .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

}
s